<div class="main-page">
    <div class="row pt-2">
        <div class="col-sm-8">
            <input type="text" class="form-control-sm form-control">
        </div>
        <div class="col-sm-2 add-note p-1" >
            Add Tag
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-1 offset-1 ">
            <h3 class="m-1">
                Tag 1
            </h3>
        </div>
        <div class="col-sm-1 offset-1 add-note py-2  ">
            Delete Tag
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-1 offset-1 ">
            <h3 class="m-1">
                Tag 2
            </h3>
        </div>
        <div class="col-sm-1 offset-1 add-note py-2  ">
            Delete Tag
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-1 offset-1 ">
            <h3 class="m-1">
                Tag 3
            </h3>
        </div>
        <div class="col-sm-1 offset-1 add-note py-2  ">
            Delete Tag
        </div>
    </div>
</div>
