<div class="main-page">
    <div class="row mx-2">
        <div class="col-sm-2  col-md-1 add-note p-2 " (click)="triggerModal(deposit)">
            Add Notes
        </div>
    </div>
    <div>
        <div class="row mt-5">
            <div class="col-sm-3 ">
                <h3>Note Title 1</h3>
            </div>
            <div class="col-sm-3 ms-auto">
                <p class="created">Created On: 2022/05/05</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 pe-5">
                <p class="note">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, ipsam vitae. Nesciunt
                    inventore explicabo quos quis neque molestias voluptatum adipisci id et, placeat deserunt hic officia
                    reiciendis consectetur ipsa illum!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, iste illum! Expedita ratione, enim, ad
                    assumenda recusandae tempora deserunt architecto provident aliquam ipsa similique necessitatibus a qui
                    commodi culpa sed?
                    Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, molestias saepe nostrum porro
                    quibusdam quia quo maiores dolor minus sed pariatur ipsa. Quisquam a optio delectus ab non aliquid
                    illum!
                </p>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-sm-1 add-note me-2">
                Tag 1
            </div>
            <div class="col-sm-1 add-note ">
                Tag 2
            </div>
        </div>
    </div>
    <div>
        <div class="row mt-5">
            <div class="col-sm-3 ">
                <h3>Note Title 2</h3>
            </div>
            <div class="col-sm-3 ms-auto">
                <p class="created">Created On: 2022/05/05</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 pe-5">
                <p class="note">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, ipsam vitae. Nesciunt
                    inventore explicabo quos quis neque molestias voluptatum adipisci id et, placeat deserunt hic officia
                    reiciendis consectetur ipsa illum!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, iste illum! Expedita ratione, enim, ad
                    assumenda recusandae tempora deserunt architecto provident aliquam ipsa similique necessitatibus a qui
                    commodi culpa sed?
                    Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, molestias saepe nostrum porro
                    quibusdam quia quo maiores dolor minus sed pariatur ipsa. Quisquam a optio delectus ab non aliquid
                    illum!
                </p>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-sm-1 add-note me-2">
                Tag 1
            </div>
           
        </div>
    </div>
    <div>
        <div class="row mt-5">
            <div class="col-sm-3 ">
                <h3>Note Title 3</h3>
            </div>
            <div class="col-sm-3 ms-auto">
                <p class="created">Created On: 2022/05/05</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 pe-5">
                <p class="note">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, ipsam vitae. Nesciunt
                    inventore explicabo quos quis neque molestias voluptatum adipisci id et, placeat deserunt hic officia
                    reiciendis consectetur ipsa illum!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, iste illum! Expedita ratione, enim, ad
                    assumenda recusandae tempora deserunt architecto provident aliquam ipsa similique necessitatibus a qui
                    commodi culpa sed?
                    Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, molestias saepe nostrum porro
                    quibusdam quia quo maiores dolor minus sed pariatur ipsa. Quisquam a optio delectus ab non aliquid
                    illum!
                </p>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-sm-1 add-note me-2">
                Tag 1
            </div>
            <div class="col-sm-1 add-note ">
                Tag 2
            </div>
            <div class="col-sm-1 add-note ">
                Tag 3
            </div>
        </div>
    </div>
     <div>  
        <div class="row mt-5">
            <div class="col-sm-3 ">
                <h3>Note Title 3</h3>
            </div>
            <div class="col-sm-3 ms-auto">
                <p class="created">Created On: 2022/05/05</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 pe-5">
                <p class="note">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, ipsam vitae. Nesciunt
                    inventore explicabo quos quis neque molestias voluptatum adipisci id et, placeat deserunt hic officia
                    reiciendis consectetur ipsa illum!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, iste illum! Expedita ratione, enim, ad
                    assumenda recusandae tempora deserunt architecto provident aliquam ipsa similique necessitatibus a qui
                    commodi culpa sed?
                    Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, molestias saepe nostrum porro
                    quibusdam quia quo maiores dolor minus sed pariatur ipsa. Quisquam a optio delectus ab non aliquid
                    illum!
                </p>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-sm-1 add-note me-2">
                Tag 1
            </div>
            <div class="col-sm-1 add-note ">
                Tag 2
            </div>
            <div class="col-sm-1 add-note ">
                Tag 3
            </div>
        </div>
    </div>
    <div>
        <div class="row mt-5">
            <div class="col-sm-3 ">
                <h3>Note Title 3</h3>
            </div>
            <div class="col-sm-3 ms-auto">
                <p class="created">Created On: 2022/05/05</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 pe-5">
                <p class="note">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, ipsam vitae. Nesciunt
                    inventore explicabo quos quis neque molestias voluptatum adipisci id et, placeat deserunt hic officia
                    reiciendis consectetur ipsa illum!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, iste illum! Expedita ratione, enim, ad
                    assumenda recusandae tempora deserunt architecto provident aliquam ipsa similique necessitatibus a qui
                    commodi culpa sed?
                    Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, molestias saepe nostrum porro
                    quibusdam quia quo maiores dolor minus sed pariatur ipsa. Quisquam a optio delectus ab non aliquid
                    illum!
                </p>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-sm-1 add-note me-2">
                Tag 1
            </div>
            <div class="col-sm-1 add-note ">
                Tag 2
            </div>
            <div class="col-sm-1 add-note ">
                Tag 3
            </div>
        </div>
    </div> 
</div>

<ng-template #deposit let-modal>
    <div class="modal-header m-0 p-0 bg-gray">
        <h5 class="white-text m-1" id="modal-basic-title">Add Note</h5>
        <button type="button" class="close btn-sm btn-danger ms-auto ms-auto col-sm-1" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body newform container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <h6>
                    Title
                </h6>
            </div>
            <div class="col-sm">
                <input type="text" class="form-control-sm form-control">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-2">
                <h6>
                    Description
                </h6>
            </div>
            <div class="col-sm">
                <textarea type="text" class="form-control-sm form-control" row="5"></textarea>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-2">
                <h6>
                    Tags
                </h6>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm-1">
                        <input type="checkbox" class="" />
                    </div>
                    <div class="col-sm p-0">
                        <p>
                            Tag 1
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <input type="checkbox" class="" />
                    </div>
                    <div class="col-sm p-0">
                        <p>
                            Tag 2
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <input type="checkbox" class="" />
                    </div>
                    <div class="col-sm p-0">
                        <p>
                            Tag 3
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>