<div class="main-page">
    <div class="row mx-2">
        <div class="col-sm-2  col-md-1 add-note p-2 " (click)="triggerModal(deposit)">
            Add Notes
        </div>
    </div>
    <div *ngFor="let div of data">
        <div class="row mt-5">
            <div class="col-sm-3 ">
                <h3>{{div.title}}</h3>
            </div>
            <div class="col-sm-3 ms-auto">
                <p class="created">Created On: {{div.created_at}}</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 pe-5">
                <p class="note">{{div.description}}
                </p>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-sm-1 add-note me-2">
              {{div.id}}
            </div>
            
        </div>
    </div>
    
    <ng-template #deposit let-modal>
        <div class="modal-header m-0 p-0 bg-gray">
            <h5 class="white-text m-1" id="modal-basic-title">Add Note</h5>
            <button type="button" class="close btn-sm btn-danger ms-auto ms-auto col-sm-1" aria-label="Close"
                (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body newform container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <h6>
                        Title
                    </h6>
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control-sm form-control" [(ngModel)]="post.title">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-2">
                    <h6>
                        Description
                    </h6>
                </div>
                <div class="col-sm">
                    <textarea type="text" class="form-control-sm form-control" row="5" [(ngModel)]="post.description"></textarea>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-2">
                    <h6>
                        Tags
                    </h6>
                </div>
                <div class="col-sm">
                    <div class="row" *ngFor="let div of Tags">
                        <div class="col-sm-1 p-0">
                            <input type="radio" class="" [value]="div.id" [(ngModel)]="post.tag_id" />
                        </div>
                        <div class="col-sm p-0">
                            <p>
                                {{div.name}}
                            </p>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row me-auto">
              <div class="col-sm-3 ">
                <button class="btn btn-primary btn-sm" (click)="postNote()">Submit</button>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-danger btn-sm ms-3" (click)="modal.dismiss('Cancel Click')">Cancel</button>

              </div>
            </div>
          </div>
    </ng-template>
</div>

