* {
    margin : 0;
    padding: 0;     
    overflow-x: hidden;
width: 100%;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;    

}
 h1 , h2 , h3 ,h4 ,h5 , h6{
overflow: hidden;    
}
.main-page{
    /* overflow-y: scroll; */
    position: relative;
    width: 99%;
    margin: 10px;
    padding:10px;
    border: 2px solid black;
    border-radius: 10px;
}
.navigation{
    background-color: lightgray;
}
.nav-box{
    border-radius: 10px;
    border: 2px solid white;
    background-color: black;
    color:white;
    text-align: center;
}
.nav-box:hover{
    /* transform: scale(1.1); */
    color:white;
    cursor: pointer;
}
p{
    overflow: hidden;
    margin:0;
}
.btn-hover:hover{
    margin:0;
    transform: scale(1.1);  
}
a{
    text-decoration: none;
    color:white;
}
.add-note{
    border-radius: 10px;
    border: 1px solid white;
    background-color: gray;
    text-align: center;
    color:white;
    cursor: pointer;
}
.created{
    color:gray;
}
.note{
    text-align: justify;
}
.bg-gray{
    background-color: gray !important;
}
.white-text{
    color: white;
}
.model-open{
    padding:0px !important;
}